body{
    background-color: rgb(206, 198, 211);
}
div{
    background-color: rgb(104, 107, 162);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.8;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    bottom: 0;
    text-align: center;
    }
    button{
        background-color: rgb(206, 198, 211);
        color: black;
        padding: 10px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }
    button:hover {
        background-color: rgb(104, 107, 162);
        color: white;
    }
    input[type=text], select {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
     input[type=date], select{
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
     }
     input[type=email], select{ 
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;}
        input[type=password], select{
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
     h2{
        color: white;
        text-align: center;
        font-size: 50px;
     }
     footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
        
     }
     a{
        text-decoration: none;
        color: rgb(104, 107, 162);
        padding: 0px 0px;    
     }
     a:hover{
        color: whitesmoke;
     }